{
  "extends": "eslint-config-egg",
  "root": true,
  "rules": {
    "arrow-parens": ["error", "always"],
    "semi": ["error", "never"],
    "comma-dangle": "off",
    "newline-per-chained-call": "off",
    "array-bracket-spacing": "off"
  }
}
